<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title th:text="#{app.name} + ' - Login'"></title>
    <th:block th:insert="~{fragments/header :: header}"></th:block>
    <link rel="stylesheet" type="text/css" href="/css/login-register.css">
    <script src="/javascript/buttonPress.js"></script>
</head>
<body>
<th:block th:insert="~{fragments/navbar :: navbar}" ></th:block>
<div class="container">
    <h3>Login</h3>
    <div class="grid-container-row">
        <a href="/" class="button">Home</a><br>
        <a href="/register/form" class="button">Register</a>
    </div>
    <br>

    <form th:action="@{/login}" th:object="${loginForm}" method="post">
      
        <label for="username">Username or Email:</label>
        <input type="text" id="username" class="input" th:field="*{username}"><br><br>
      
        <label for="password">Password:</label>
        <input type="password" id="password" class="input" th:field="*{password}"><br><br>
        <label>
            <a href="/password-reset/form">Forgot Password</a>
        </label><br>
        <input type="submit" class="submit-button" value="Submit">
    </form>

    <div th:if="${param.error != null and param.error[0] == 'true'}">
        <p>Invalid username or password.</p>
    </div>
    <div th:if="${param.error != null and param.error[0] == 'missing_password'}">
        <p>Please enter password.</p>
    </div>
    <div th:if="${param.error != null and param.error[0] == 'missing_username'}">
        <p>Please enter username.</p>
    </div>
    <div th:if="${param.error != null and param.error[0] == 'temporarily_banned'}">
        <p>Your account has been temporarily banned.</p>
    </div>
    <div th:if="${param.error != null and param.error[0] == 'permanently_banned'}">
        <p>Your account has been permanently banned.</p>
    </div>

</div>

<div th:insert="~{fragments/paw-prints :: paw-prints}"></div>
<th:block th:insert="~{fragments/back-button :: back-button}"></th:block>

</body>
</html>