<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title th:text="#{app.name} + ' - Register'"></title>
    <th:block th:insert="~{fragments/header :: header}"></th:block>
    <link rel="stylesheet" type="text/css" href="/css/login-register.css">
    <script src="/javascript/buttonPress.js"></script>
</head>
<body>
<th:block th:insert="~{fragments/navbar :: navbar}" ></th:block>

<div class="grid-container register-container">
    <div class="register-header-container">
        <h2>Register</h2>
        <a href="/" class="button" id="register-home-button">Home</a>
    </div>
    <div id="error-message-container"></div>

    <p>Choose your avatar. You can search through the database of avatars using filters below:</p>
    <form th:action="@{/register}" method="post" th:object="${newUser}" class="register-form">
        <div class="avatars">
            <div class="avatar-selection">
                <div>
                    <label for="furColor">Fur Color:</label>
                    <select id="furColor" name="furColor">
                        <option value="">All</option>
                        <option th:each="color : ${color}" th:value="${color}" th:text="${color}"></option>
                    </select>
                </div>

                <div>
                    <label for="eyeColor">Eye Color:</label>
                    <select id="eyeColor" name="eyeColor">
                        <option value="">All</option>
                        <option th:each="color : ${color}" th:value="${color}" th:text="${color}"></option>
                    </select>
                </div>

                <div>
                    <label for="pattern">Pattern:</label>
                    <select id="pattern" name="pattern">
                        <option value="">All</option>
                        <option th:each="pattern : ${pattern}" th:value="${pattern}" th:text="${pattern}"></option>
                    </select>
                </div>

                <div>
                    <label for="breed">Breed:</label>
                    <select id="breed" name="breed">
                        <option value="">All</option>
                        <option th:each="breed : ${breed}" th:value="${breed}" th:text="${breed}"></option>
                    </select>
                </div>

                <div>
                    <label for="age">Age:</label>
                    <select id="age" name="age">
                        <option value="">All</option>
                        <option th:each="age : ${age}" th:value="${age}" th:text="${age}"></option>
                    </select>
                </div>
            </div>

            <div class="avatar-selection-view">
                <!-- Avatar Selection -->
                <p>Select Avatar:</p>
                <th:block th:insert="~{fragments/avatarList :: avatarList}"></th:block>
            </div>

        </div>


        <br>
        <br>

        <label for="username">Username:</label>
        <input type="text" id="username" name="username" th:field="*{username}" class="input" required><br><br>

        <label for="email">Email:</label>
        <input type="email" id="email" name="email" th:field="*{email}" class="input" required><br><br>

        <label for="password">Password:</label>
        <input type="password" id="password" name="password" th:field="*{password}" class="input" required><br><br>

        <p>In case you forget your password in the future, please add a security question and the answer to this question.</p>
        <label for="securityQuestion">Security Question:</label>
        <input type="text" id="securityQuestion" name="securityQuestion" th:field="*{securityQuestion}" class="input" required><br><br>

        <label for="securityAnswer">Security Answer:</label>
        <input type="text" id="securityAnswer" name="securityAnswer" th:field="*{securityAnswer}" class="input" required><br><br>

        <br>
        <input type="submit" class="submit-button" value="Submit">
    </form>

    <script src="/javascript/registerFilterAvatars.js"></script>

    <script>
        document.addEventListener("DOMContentLoaded", function() {
            const params = new URLSearchParams(window.location.search);
            const errorMessageContainer = document.getElementById("error-message-container");

            errorMessageContainer.innerHTML = "";

            if (params.has("error")) {
                let errorMessage = "";
                const error = params.get("error");

                switch (error) {
                    case "username_format":
                        errorMessage = "Invalid username. It must be at least 6 characters long and contain only letters, numbers, or underscores.";
                        break;
                    case "username_exists":
                        errorMessage = "This username already exists. Please choose another.";
                        break;
                    case "email_format":
                        errorMessage = "Invalid email format. Please enter a valid email address.";
                        break;
                    case "email_exists":
                        errorMessage = "This email is already registered. Please choose another or login.";
                        break;
                    case "password_strength":
                        errorMessage = "Weak password. It must be at least 8 characters long, with 2 uppercase letters, 1 special character, 2 numbers, and 3 lowercase letters.";
                        break;
                    case "avatar_not_found":
                        errorMessage = "Invalid avatar selection. Please choose a valid avatar.";
                        break;
                    default:
                        errorMessage = "An unknown error occurred. Please try again.";
                        break;
                }

                if (errorMessage) {
                    errorMessageContainer.innerHTML = `<div class="error-message">${errorMessage}</div>`;
                }
            }
        });
    </script>
</div>

<div th:insert="~{fragments/paw-prints :: paw-prints}"></div>
<th:block th:insert="~{fragments/back-button :: back-button}"></th:block>

</body>
</html>