<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Avatars</title>
    <th:block th:insert="~{fragments/header :: header}"></th:block>
    <link rel="stylesheet" href="/css/manager-avatars.css"/>
</head>
<body>
<th:block th:insert="~{fragments/new-message-notification :: new-message-notification}"></th:block>
<th:block th:insert="~{fragments/navbar :: navbar}"></th:block>

<div class="container" style="padding-right: 15px; padding-left: 15px">
    <h2>Avatars</h2>
    <form action="#" th:action="@{/manager/avatars}" method="get">
        <script>
            document.addEventListener('DOMContentLoaded', function() {
                function setSelectedFilters() {
                    const params = new URLSearchParams(window.location.search);

                    document.getElementById('furColor').value = params.get('furColor') || '';
                    document.getElementById('eyeColor').value = params.get('eyeColor') || '';
                    document.getElementById('pattern').value = params.get('pattern') || '';
                    document.getElementById('breed').value = params.get('breed') || '';
                    document.getElementById('age').value = params.get('age') || '';
                }

                setSelectedFilters();
            });
        </script>
        <div>
            <label for="furColor">Fur Color:</label>
            <select id="furColor" name="furColor">
                <option value="">All</option>
                <option th:each="color : ${color}" th:value="${color}" th:text="${color}"></option>
            </select>
        </div>

        <div>
            <label for="eyeColor">Eye Color:</label>
            <select id="eyeColor" name="eyeColor">
                <option value="">All</option>
                <option th:each="color : ${color}" th:value="${color}" th:text="${color}"></option>
            </select>
        </div>

        <div>
            <label for="pattern">Pattern:</label>
            <select id="pattern" name="pattern">
                <option value="">All</option>
                <option th:each="pattern : ${pattern}" th:value="${pattern}" th:text="${pattern}"></option>
            </select>
        </div>

        <div>
            <label for="breed">Breed:</label>
            <select id="breed" name="breed">
                <option value="">All</option>
                <option th:each="breed : ${breed}" th:value="${breed}" th:text="${breed}"></option>
            </select>
        </div>

        <div>
            <label for="age">Age:</label>
            <select id="age" name="age">
                <option value="">All</option>
                <option th:each="age : ${age}" th:value="${age}" th:text="${age}"></option>
            </select>
        </div>
        <div>
            <p></p>
            <button type="submit" class="button">Filter</button>
        </div>
    </form>

    <div class="avatars-container">

        <div th:each="avatar : ${avatars}">
            <div class="avatar">
                <div class="avatar-image">
                    <img th:src="@{/image/avatar/{id}(id=${avatar.id})}" alt="Avatar Image"/>
                </div>
                <div class="avatar-info">
                    <p>Fur Color: <span th:text="${avatar.furColor}"></span></p>
                    <p>Eye Color: <span th:text="${avatar.eyeColor}"></span></p>
                    <p>Pattern: <span th:text="${avatar.pattern}"></span></p>
                    <p>Breed: <span th:text="${avatar.breed}"></span></p>
                    <p>Age: <span th:text="${avatar.age}"></span></p>
                    <p>Source: <span th:text="${avatar.source}"></span></p>
                </div>
            </div>
        </div>
    </div>
</div>

<th:block th:insert="~{fragments/paw-prints :: paw-prints}"></th:block>
<th:block th:insert="~{fragments/back-button :: back-button}"></th:block>

</body>
</html>
