<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Banned Users</title>
    <th:block th:include="fragments/header :: header"></th:block>
</head>
<body>
<h1>Banned Users</h1>

<table border="1">
    <thead>
    <tr>
        <th>Username</th>
        <th>Ban Strikes</th>
        <th>Status</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="user : ${bannedUsers}">
        <td th:text="${user.username}"></td>
        <td th:text="${user.banStrike}"></td>
        <td th:text="${user.userStatus}"></td>
        <td>
            <a th:href="@{'/admin/user/' + ${user.id} + '/bans'}">View Bans</a>
        </td>
    </tr>
    </tbody>
</table>

</body>
</html>
