<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>User Inappropriate Messages</title>
  <th:block th:insert="~{fragments/header :: header}"></th:block>
  <link rel="stylesheet" href="/css/admin.css">
  <script src="/javascript/buttonPress.js"></script>

</head>
<body>
<th:block th:insert="~{fragments/new-message-notification :: new-message-notification}"></th:block>
<th:block th:insert="~{fragments/navbar :: navbar}"></th:block>

<div>
  <h2>Inappropriate Messages for User: <span th:text="${user.username}"></span></h2>

  <h3>Ban Status: <span th:text="${user.userStatus}"></span></h3>
  <h3>Ban Strike: <span th:text="${user.banStrike}"></span></h3>

  <form th:if="${user.userStatus.toString() == 'ACTIVE'}"
        th:action="@{'/admin/user/' + ${user.id} + '/ban'}" method="post">
    <label for="reason">Ban Reason:</label>
    <input type="text" id="reason" name="reason" required>
    <label for="banEndTime">Ban End Time:</label>
    <input type="datetime-local" id="banEndTime" name="banEndTime" required>
    <button type="submit" class="submit-button">Ban User</button>
  </form>

  <form th:if="${user.userStatus.toString() == 'TEMPORARILY_BANNED'}"
        th:action="@{'/admin/user/' + ${user.id} + '/unban'}" method="post">
    <button type="submit" class="submit-button">Unban User</button>
  </form>
  <div th:if="${messages.size() > 0}">
    <h3>Inappropriate Messages after Last Ban</h3>
    <table>
      <thead>
      <tr>
        <th>Message Content</th>
        <th>Sent At</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="message : ${messages}">
        <td th:text="${message.messageContent}"></td>
        <td th:text="${#temporals.format(message.messageTime, 'dd/MM/yyyy HH:mm')}"></td>
      </tr>
      </tbody>
    </table>
  </div>


  <a href="/admin/users" class="button">Back to User List</a>
</div>


<th:block th:insert="~{fragments/paw-prints :: paw-prints}"></th:block>
<th:block th:insert="~{fragments/back-button :: back-button}"></th:block>

</body>
</html>
