
Early Pass project requirements

Application

- allow users login and password reset +++
- there are a normal user, manager and backend admin roles +++
- the application allows only the logged-in user to access restricted resources +++
- at least 2 tables with items browsable by the regular user, which can be filtered +++ avatar, users
- the application is aesthetically pleasing +++
- the application is responsive (i.e. adapted to at least two resolutions - e.g. computer and tablet or computer and smartphone) +++
- all forms data is validated
- the application allows you to save or modify records +++
- use of AJAX technology or similar technique +++
- The application follow good programming practices ???
- The application has no difficulty in deployment on a separate machine +++
- Automatic tests +++

- short report with idea outline, dataflow and main views screenshots
- source codes

Submit deadline 18X

