--
-- PostgreSQL database dump
--

-- Dumped from database version 17.0 (Debian 17.0-1.pgdg120+1)
-- Dumped by pg_dump version 17.0 (Debian 17.0-1.pgdg120+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: avatars; Type: TABLE; Schema: public; Owner: VeryHardLogin
--

CREATE TABLE public.avatars (
    id bigint NOT NULL,
    image bytea NOT NULL,
    source character varying(255) NOT NULL,
    fur_color character varying(255) NOT NULL,
    eye_color character varying(255) NOT NULL,
    pattern character varying(255) NOT NULL,
    breed character varying(255) NOT NULL,
    age character varying(255) NOT NULL
);


ALTER TABLE public.avatars OWNER TO "VeryHardLogin";

--
-- Name: avatars_id_seq; Type: SEQUENCE; Schema: public; Owner: VeryHardLogin
--

CREATE SEQUENCE public.avatars_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.avatars_id_seq OWNER TO "VeryHardLogin";

--
-- Name: avatars_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: VeryHardLogin
--

ALTER SEQUENCE public.avatars_id_seq OWNED BY public.avatars.id;


--
-- Name: banned; Type: TABLE; Schema: public; Owner: VeryHardLogin
--

CREATE TABLE public.banned (
    id bigint NOT NULL,
    banned_user bigint,
    banned_by bigint,
    reason character varying(255) NOT NULL,
    ban_time timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    ban_time_end timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.banned OWNER TO "VeryHardLogin";

--
-- Name: banned_id_seq; Type: SEQUENCE; Schema: public; Owner: VeryHardLogin
--

CREATE SEQUENCE public.banned_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.banned_id_seq OWNER TO "VeryHardLogin";

--
-- Name: banned_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: VeryHardLogin
--

ALTER SEQUENCE public.banned_id_seq OWNED BY public.banned.id;


--
-- Name: inappropriate_messages; Type: TABLE; Schema: public; Owner: VeryHardLogin
--

CREATE TABLE public.inappropriate_messages (
    id bigint NOT NULL,
    message_content character varying(255) NOT NULL,
    sender bigint,
    message bigint,
    approval character varying(255) DEFAULT 'NEEDS_VERIFICATION'::character varying NOT NULL,
    message_time timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.inappropriate_messages OWNER TO "VeryHardLogin";

--
-- Name: inappropriate_messages_id_seq; Type: SEQUENCE; Schema: public; Owner: VeryHardLogin
--

CREATE SEQUENCE public.inappropriate_messages_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.inappropriate_messages_id_seq OWNER TO "VeryHardLogin";

--
-- Name: inappropriate_messages_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: VeryHardLogin
--

ALTER SEQUENCE public.inappropriate_messages_id_seq OWNED BY public.inappropriate_messages.id;


--
-- Name: messages; Type: TABLE; Schema: public; Owner: VeryHardLogin
--

CREATE TABLE public.messages (
    id bigint NOT NULL,
    sender bigint,
    receiver bigint,
    message_content text NOT NULL,
    status character varying(255) DEFAULT 'SENT'::character varying NOT NULL,
    "timestamp" timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.messages OWNER TO "VeryHardLogin";

--
-- Name: messages_id_seq; Type: SEQUENCE; Schema: public; Owner: VeryHardLogin
--

CREATE SEQUENCE public.messages_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.messages_id_seq OWNER TO "VeryHardLogin";

--
-- Name: messages_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: VeryHardLogin
--

ALTER SEQUENCE public.messages_id_seq OWNED BY public.messages.id;


--
-- Name: users; Type: TABLE; Schema: public; Owner: VeryHardLogin
--

CREATE TABLE public.users (
    id bigint NOT NULL,
    username character varying(255) NOT NULL,
    email character varying(255) NOT NULL,
    password character varying(255) NOT NULL,
    role character varying(255) DEFAULT 'USER'::character varying NOT NULL,
    security_question character varying(255) NOT NULL,
    security_answer character varying(255) NOT NULL,
    avatar bigint DEFAULT 1,
    ban_strike integer DEFAULT 0,
    user_status character varying(255) DEFAULT 'ACTIVE'::character varying NOT NULL
);


ALTER TABLE public.users OWNER TO "VeryHardLogin";

--
-- Name: users_id_seq; Type: SEQUENCE; Schema: public; Owner: VeryHardLogin
--

CREATE SEQUENCE public.users_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.users_id_seq OWNER TO "VeryHardLogin";

--
-- Name: users_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: VeryHardLogin
--

ALTER SEQUENCE public.users_id_seq OWNED BY public.users.id;


--
-- Name: avatars id; Type: DEFAULT; Schema: public; Owner: VeryHardLogin
--

ALTER TABLE ONLY public.avatars ALTER COLUMN id SET DEFAULT nextval('public.avatars_id_seq'::regclass);


--
-- Name: banned id; Type: DEFAULT; Schema: public; Owner: VeryHardLogin
--

ALTER TABLE ONLY public.banned ALTER COLUMN id SET DEFAULT nextval('public.banned_id_seq'::regclass);


--
-- Name: inappropriate_messages id; Type: DEFAULT; Schema: public; Owner: VeryHardLogin
--

ALTER TABLE ONLY public.inappropriate_messages ALTER COLUMN id SET DEFAULT nextval('public.inappropriate_messages_id_seq'::regclass);


--
-- Name: messages id; Type: DEFAULT; Schema: public; Owner: VeryHardLogin
--

ALTER TABLE ONLY public.messages ALTER COLUMN id SET DEFAULT nextval('public.messages_id_seq'::regclass);


--
-- Name: users id; Type: DEFAULT; Schema: public; Owner: VeryHardLogin
--

ALTER TABLE ONLY public.users ALTER COLUMN id SET DEFAULT nextval('public.users_id_seq'::regclass);


--
-- Data for Name: avatars; Type: TABLE DATA; Schema: public; Owner: VeryHardLogin
--



--
-- Data for Name: banned; Type: TABLE DATA; Schema: public; Owner: VeryHardLogin
--

COPY public.banned (id, banned_user, banned_by, reason, ban_time, ban_time_end) FROM stdin;
1	1	1	Violation of rules	2024-10-15 18:04:19.063958	2023-12-31 23:59:59
2	1	1	Violation of rules	2024-10-15 18:08:50.092739	2023-12-31 23:59:59
3	1	1	Violation of rules	2024-10-15 19:29:50.186874	2023-12-31 23:59:59
\.


--
-- Data for Name: inappropriate_messages; Type: TABLE DATA; Schema: public; Owner: VeryHardLogin
--

COPY public.inappropriate_messages (id, message_content, sender, message, approval, message_time) FROM stdin;
\.


--
-- Data for Name: messages; Type: TABLE DATA; Schema: public; Owner: VeryHardLogin
--

COPY public.messages (id, sender, receiver, message_content, status, "timestamp") FROM stdin;
1	3	3	aaaaaa	SEEN	2024-10-09 14:47:35.40357
\.


--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: VeryHardLogin
--



--
-- Name: avatars_id_seq; Type: SEQUENCE SET; Schema: public; Owner: VeryHardLogin
--

SELECT pg_catalog.setval('public.avatars_id_seq', 8, true);


--
-- Name: banned_id_seq; Type: SEQUENCE SET; Schema: public; Owner: VeryHardLogin
--

SELECT pg_catalog.setval('public.banned_id_seq', 3, true);


--
-- Name: inappropriate_messages_id_seq; Type: SEQUENCE SET; Schema: public; Owner: VeryHardLogin
--

SELECT pg_catalog.setval('public.inappropriate_messages_id_seq', 1, false);


--
-- Name: messages_id_seq; Type: SEQUENCE SET; Schema: public; Owner: VeryHardLogin
--

SELECT pg_catalog.setval('public.messages_id_seq', 1, true);


--
-- Name: users_id_seq; Type: SEQUENCE SET; Schema: public; Owner: VeryHardLogin
--

SELECT pg_catalog.setval('public.users_id_seq', 11, true);


--
-- Name: avatars avatars_pkey; Type: CONSTRAINT; Schema: public; Owner: VeryHardLogin
--

ALTER TABLE ONLY public.avatars
    ADD CONSTRAINT avatars_pkey PRIMARY KEY (id);


--
-- Name: banned banned_pkey; Type: CONSTRAINT; Schema: public; Owner: VeryHardLogin
--

ALTER TABLE ONLY public.banned
    ADD CONSTRAINT banned_pkey PRIMARY KEY (id);


--
-- Name: inappropriate_messages inappropriate_messages_pkey; Type: CONSTRAINT; Schema: public; Owner: VeryHardLogin
--

ALTER TABLE ONLY public.inappropriate_messages
    ADD CONSTRAINT inappropriate_messages_pkey PRIMARY KEY (id);


--
-- Name: messages messages_pkey; Type: CONSTRAINT; Schema: public; Owner: VeryHardLogin
--

ALTER TABLE ONLY public.messages
    ADD CONSTRAINT messages_pkey PRIMARY KEY (id);


--
-- Name: users users_email_key; Type: CONSTRAINT; Schema: public; Owner: VeryHardLogin
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_email_key UNIQUE (email);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: VeryHardLogin
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: users users_username_key; Type: CONSTRAINT; Schema: public; Owner: VeryHardLogin
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_username_key UNIQUE (username);


--
-- Name: banned banned_banned_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: VeryHardLogin
--

ALTER TABLE ONLY public.banned
    ADD CONSTRAINT banned_banned_by_fkey FOREIGN KEY (banned_by) REFERENCES public.users(id) ON DELETE SET NULL;


--
-- Name: banned banned_banned_user_fkey; Type: FK CONSTRAINT; Schema: public; Owner: VeryHardLogin
--

ALTER TABLE ONLY public.banned
    ADD CONSTRAINT banned_banned_user_fkey FOREIGN KEY (banned_user) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: inappropriate_messages inappropriate_messages_message_fkey; Type: FK CONSTRAINT; Schema: public; Owner: VeryHardLogin
--

ALTER TABLE ONLY public.inappropriate_messages
    ADD CONSTRAINT inappropriate_messages_message_fkey FOREIGN KEY (message) REFERENCES public.messages(id) ON DELETE CASCADE;


--
-- Name: inappropriate_messages inappropriate_messages_sender_fkey; Type: FK CONSTRAINT; Schema: public; Owner: VeryHardLogin
--

ALTER TABLE ONLY public.inappropriate_messages
    ADD CONSTRAINT inappropriate_messages_sender_fkey FOREIGN KEY (sender) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: messages messages_receiver_fkey; Type: FK CONSTRAINT; Schema: public; Owner: VeryHardLogin
--

ALTER TABLE ONLY public.messages
    ADD CONSTRAINT messages_receiver_fkey FOREIGN KEY (receiver) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: messages messages_sender_fkey; Type: FK CONSTRAINT; Schema: public; Owner: VeryHardLogin
--

ALTER TABLE ONLY public.messages
    ADD CONSTRAINT messages_sender_fkey FOREIGN KEY (sender) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: users users_avatar_fkey; Type: FK CONSTRAINT; Schema: public; Owner: VeryHardLogin
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_avatar_fkey FOREIGN KEY (avatar) REFERENCES public.avatars(id) ON DELETE SET NULL;


--
-- PostgreSQL database dump complete
--

