<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title th:text="#{app.name} + ' - Reset Password'"></title>
    <th:block th:insert="~{fragments/header :: header}"></th:block>
    <link rel="stylesheet" type="text/css" href="/css/login-register.css">
    <script src="/javascript/buttonPress.js"></script>
</head>
<body>
<th:block th:insert="~{fragments/navbar :: navbar}" ></th:block>
<h2>Step 1: Email verification</h2>
<div class="password-reset-container">
    <form th:action="@{/password-reset-email}" method="post">
        <p>Please enter your email address:</p>
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" class="input"><br><br>
        <div th:if="${error}" th:text="${error}" style="color: red;"></div>
        <input type="submit" class="submit-button" value="Submit">
    </form>
    <div>
        <img src="/images/step1_cat.png" alt="Step 1 cat" class="password-reset-cat">
    </div>
</div>
<th:block th:insert="~{fragments/back-button :: back-button}"></th:block>
<th:block th:insert="~{fragments/paw-prints :: paw-prints}"></th:block>

</body>
</html>