<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title th:text="#{app.name} + ' - Change Password'"></title>
    <th:block th:insert="~{fragments/header :: header}"></th:block>
    <link rel="stylesheet" type="text/css" href="/css/login-register.css">
    <script src="/javascript/buttonPress.js"></script>
</head>
<body>
<th:block th:insert="~{fragments/navbar :: navbar}" ></th:block>
<h2>Step 3: Reset your password</h2>
<div class="register-container">
    <form th:action="@{/password-reset-change}" method="post">
        <p>Please enter your new password:</p>

        <label for="newPassword">New Password:</label>
        <input type="password" id="newPassword" name="newPassword"><br><br>
        <input type="submit" class = "submit-button" value="Submit">
    </form>
</div>
<th:block th:insert="~{fragments/back-button :: back-button}"></th:block>

</body>
</html>