.error-message {
    color: red;
    font-weight: bold;
    margin-bottom: 15px;
}

label {
    font-family: Amaranth-Regular, sans-serif;
    font-size: 1em;
    color: black;
    margin: 5px 0;
    display: block;
}

.register-container {
    margin-left: 5vw;
}

.register-header-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 1em;
    width: 30vw;
    min-width: 200px;
}

#register-home-button {
    display: flex;
    justify-content: center;
    align-items: center;
}

.register-form .avatars .avatar-selection {
    display: flex;
    flex-direction: row;
    margin: 10px;
    gap: 10px;
    flex-wrap: wrap;
}

.register-form .avatars {
    display: flex;
    flex-direction: column;
}

#avatarList {
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    max-width: 352px;
    max-height: 332px;
    border: 1px solid black;
    overflow-y: auto;
}

.avatar-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100px;
    border: 2px solid black;
}
.avatar-item label {
    cursor: pointer;
    max-width: 100px;
    max-height: 100px;
}

.avatar-item .selected {
    border: 2px solid blue;
}

.password-reset-cat {
    width: 20vh;
    min-width: 100px;
    display: flex;
    flex-direction: column;
    margin-left: 30px;
}

.password-reset-container {
    margin-left: 5vw;
    display: flex;
    flex-direction: row;
}
