#user-profile-container {
    margin-left: 5vh;

}

#settings-container {
    justify-content: center;
    margin-left: 5vh;
}

.avatar-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: min-content;
}

.edit-button {
    cursor: pointer;
    border: none;
    background: none;
    color: black;
    text-decoration: underline;
}

#user-avatar-profile {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    border: black 1px solid;
}
