body {
    background-color: #fcf5df;
    font-family: Amaranth-Regular, sans-serif;
}

@font-face {
    font-family: Amaranth-Bold;
    src: url("/css/fonts/Amaranth-Bold.ttf");
}

@font-face {
    font-family: Amaranth-Regular;
    src: url("/css/fonts/Amaranth-Regular.ttf");
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.grid-container {
    display: flex;
    flex-direction: column;
}

.home-main-container {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}

.grid-item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 1em;
}

/* Styling the headers */
h1 {
    font-family: Amaranth-Bold, sans-serif;
    font-size: 3em;
}

h2 {
    font-family: Amaranth-Bold, sans-serif;
    font-size: 2em;
    margin-left: 5vh;
}

/* Styling login/register buttons */
.button {
    display: inline-block;
    background-color: black;
    font-family: Amaranth-Regular, sans-serif;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    margin: 5px;
}

.grid-item-buttons {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    border-left: 0.25em solid black;
}

#paw-prints-container {
    position: fixed;
    bottom: 0;
    width: 100%;
    margin: 0.25em;
}

.paw-print {
    position: absolute;
    bottom: 0;
    width: 50px;
    height: 50px;
    opacity: 0;
    transition: left;
}

.paw-print.rotate-up {
    transform: rotate(45deg);
}

.paw-print.rotate-down {
    transform: rotate(135deg);
}

@keyframes fadeInOut {
    0% { opacity: 0; }
    30% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 0; }
}

