<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title th:text="#{app.name} + ' - Home'"></title>
</head>
<body>
<div class="container" th:if="${isLoggedIn && user != null}">
    <a href="/logout">Logout</a>
    <p>Welcome, <span th:text="${user.username}"></span>!</p>
    <a href="/api/messages/conversation/all">All Conversations</a> <br/>
    <a href="/profile">User Profile</a>
</div>
<div class="container" th:if="${!isLoggedIn || user == null}">
    <a href="/login/form">Login</a>
    <p>Hello, World!</p>
</div>
</body>
</html>